{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}

{% block title %}
	Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
	::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	
	var TOUR_ADDRESS = "{% url 'tour:manage:tour' %}";
</script>

<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row btn-menu">	
		<a class="btn btn-inverse" href="{% url 'tour:manage:tournament' %}">Wizard</a>
		<a href = "{% url 'tour:manage:tour' %}" class="btn">Раунды</a>
		<a href = "{% url 'tour:manage:round' %}" class="btn">Матчи</a>
		<a href = "{% url 'tour:manage:match' %}" class="btn">Комманды</a>
</div>
<div class="row">
	<div style="margin:10px;"></div>
	<div class="span5 manage-table" id="tourTable">
		<div class="teableHeader">
			Турниры
			<select class="pull-right" id="tour_filter">
				<option selected="selected" value="-1">Все</option>
				<option value="0">Предстоящие</option>
				<option value="1">Текущие</option>
				<option value="2">Завершенные</option>
			</select>
		</div>
		<table class="table round-table" >
		<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Status</th>
					<th>Players</th>
					<th>Teams</th>
					<th>Visible</th>
				</tr>
			</thead>
		<tbody id = "tour_table">
			{% for tour in tours %}
			<tr>
				<td>
					{{ tour.id }}
				</td>
				<td>
					<a href="{% url 'tour:manage:tour' tour.id %}">{{tour.title}}</a>
				</td>
				<td>{{tour.STATUS_LIST|key:tour.status}}</td>
				<td>{{ tour.players.count }}</td>
				<td>{{ tour.teams.count }}</td>
				<td>{{ tour.visible }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="tableFooter"></div>
	</div>
	<div class="span5 manage-table" id="tourTable">
		<div class="teableHeader">Добавить</div>
		<form method="POST" class="form-horizontal">
			{% csrf_token %}
			{{ form }}
			<p>
				<div class="control-group">
					<div class="controls">
						<input class="btn" type='submit' />
					</div>
				</div>
			</form>

		</div>
	</div>
	{% endblock %}