{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}
{% block title %}
	Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
	::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<script type="text/javascript">
 	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
 	var AJAX_DELETE = "{% url 'tour:manage:delete' %}";
 	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
 	var MATCH_ID = "{{match.id}}";
 	
 	$(document).ready(function() {		
		$("#datepicker").datepicker({
			changeMonth : true,
			changeYear : true,
			yearRange : "2013:2020",
			dateFormat: 'yy-mm-dd'
		});
	}); 
 </script>
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
	{% if match %}
	<div class="span11 teableHeader">
		<div class="">
			Матч
			<button class="btn pull-right" id = "removeMatchBTN"> <i class="icon-trash"></i></button>
			<button class="btn pull-right" id = "editBTN"> <i class="icon-wrench"></i>
			</button>
		</div>
	</div>

	<div class="span11" id = "show">
		<div class="span4">
			<p> <b><span id="match_title">{{match.title}}</span></b> 
			</p>
			<p>
				Дата:<b>
				<span id = "play_date" >{% if match.play_date %} {{match.play_date}} {% endif %}</span></b>
				<br>
				PlayOff:<b>
					<span id="playoff_text">{{match.PLAYOFF_LIST|playoff_list:match.playoff }}</span>
				</b>
			</p>
		</div>
		<div class="span3">
			<p>
				Счет А:
				<b><span id="score_a" >{{match.score_a}}</span></b>
			</p>
			<p>
				Счет B:
				<b><span id = "score_b" >{{match.score_b}}</span></b>
			</p>
		</div>
		<div class="span3">
			<p>Раунд: <a href="{% url 'tour:manage:round' match.round.id %}">{{match.round}}</a></p>
			<p>
				Статус:
				<span id="match_status">
					{{ match.STATUS_LIST|key:match.status }}
				</span>
			</p>
		</div>
	</div>
	<div class="span11" id="edit" hidden>
		<p> <b><input class="input-xxlarge" id = "matchTitle" type="text" value="{{match.title}}"></b>
		</p>
		<p>Дата: <input type="text" id="datepicker" value="{% if match.play_date %}{{match.play_date|date:'Y-m-d'}}{% endif %}" name="play_date"/>			
		</p>
		<p>
			Play-Off: <select id="playoff_selector">
			 	<option value="0" {% if match.playoff == 0 %} selected="selected" {% endif %}>Не выбрано</option> 
				<option value="8" {% if match.playoff == 8 %} selected="selected" {% endif %}>1/8</option>
				<option value="4" {% if match.playoff == 4 %} selected="selected" {% endif %}>1/4</option>
				<option value="2"  {% if match.playoff == 2 %} selected="selected" {% endif %}>1/2</option>
				<option value="3" {% if match.playoff == 3 %} selected="selected" {% endif %}>3-e</option>
				<option value="1" {% if match.playoff == 1 %} selected="selected" {% endif %}>Финал</option> 
				</select>
		</p>
		<p>
			Счет А:
			<input type="text" id = "scoreA" value="{{match.score_a}}"></p>
		<p>
			Счет B:
			<input type="text" id = "scoreB" value="{{match.score_b}}"></p>

		<p>
			Статус:
			<select id="matchStatus">
				<option value="0" {% if match.status == 0 %} selected="selected" {% endif %}>Отмененный</option>
				<option value="1" {% if match.status == 1 %} selected="selected" {% endif %}>Предстоящий</option>
				<option value="2" {% if match.status == 2 %} selected="selected" {% endif %}>Завершенный</option>
			</select>
		</p>
		<button class="btn pull-right" id = "saveMatchBTN"> <i class="icon-ok"></i>
		</button>
	</div>
	{% endif %}
	<div class="span5">
	<div style="margin:10px"></div>
		<div class="teableHeader">Команды</div>
		<div style="margin: 5px; padding:5px;">Участник: <input type="text" id = "searchByPlayer"/> <button id = "doSearch" class="btn">GO</button></div>
		<table class="table round-table" id="team_list">
			{% if match %}
			<tr>
				<td>A</td>
				<td><a href="{% url 'tour:manage:team' match.team_a.id%}">{{ match.team_a }}</a></td>
			</tr>
			<tr>
				<td>B</td>
				<td><a href="{% url 'tour:manage:team' match.team_b.id%}">{{ match.team_b }}</a></td>
			</tr>
			{% endif %}

		{% for team in team_list %}
			<tr>
				<td>
					<a href="{% url 'tour:manage:team' team.id %}">{{team}}</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="span5">
	<div style="margin:10px"></div>
		<div class="teableHeader">Добавить
		</div>
		<form class = "form" method="post">
		{% csrf_token %}
		{{form}}
		<div class="control-group">
				<div class="controls">
					<input class="btn" type='submit' />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}