{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}

{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var MATCH_ADDRES = "{% url 'tour:manage:match' %}";
	var AJAX_DELETE = "{% url 'tour:manage:delete' %}";
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	var AJAX_MATCH_GEN = "{% url 'tour:manage:match_generator' %}";
	var AJAX_STANDINGS = "{% url 'tour:manage:standings' %}";
	var AJAX_GET_STANDINGS = "{% url 'tour:manage:get_standings' %}";
	var SAVE_MATCH_ADR = "{% url 'tour:manage:save_match_results' %}";
	var ROUND_ID = "{{ round.id }}";
	var USER_SIDE = false;
	var match_select = "<option>-----</option>";
	//Установка текущего раунду на форме добавления матча
	$(document).ready(function() {
		$("#id_round").val("{{ round.id }}");
		$("#datepicker").datepicker({
			changeMonth : true,
			changeYear : true,
			yearRange : "2013:2020",
			dateFormat : 'yy-mm-dd'
		});
	}); 
</script>
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
{% if round %}
<div class="row">
	<div class="span11 teableHeader">
		<div class="">
			Раунд
			<button class="btn pull-right" id = "removeRoundBTN">
				<i class="icon-trash"></i>
			</button>
			<button class="btn pull-right" id = "editBTN">
				<i class="icon-wrench"></i>
			</button>
		</div>
	</div>
	<div class="span11" id = "show">
		<div class="span4">
			<p>
				<b><span id="round_title">{{round.title}}</span></b>
			</p>
			<p>
				№:
				<span id = "round_serial">{{round.serial}}</span>
			</p>
			<p>
				Активный:{{round.active}}
			</p>
		</div>
		<div class="span3">
			<p>
				Турнир:
				<a href="{% url 'tour:manage:tour' round.tournament.id %}">{{round.tournament}}</a>
			</p>
			<p>
				Тип:
				<span id="round_type"> {% if round.round_type == 0 %}
					Регулярный
					{% endif %}

					{% if round.round_type == 1 %}
					Play-off
					{% endif %} </span>
			</p>
		</div>
		{% if round.round_type == 1 %}
		
		{% endif %}
	</div>
	<div class="span11" id="edit" hidden>
		<div class="span3">
			<p>
				Название:
				<br>
				<input id = "roundTitle" type="text" value="{{round.title}}">
			</p>
	
			<p>
				Порядок:
				<br>
				<input  id = "roundSerial" type="text" value="{{round.serial}}">
			</p>
		</div>
		<div class="span3">
			<p>
				Тип:
				<br>
				<select id = "roundType">
					<option value = "0" {% if round.round_type == 0 %} selected="selected" {% endif %}>Регулярный</option>
					<option value = "1" {% if round.round_type == 1 %} selected="selected" {% endif %}>Play-off</option>
				</select>
			</p>
			<p>
				Активный: {% if round.active %} <input type="checkbox" checked="checked" id = "id_active"/> {% else %}
				<input type="checkbox" id = "id_active"/>
				{% endif %}
			</p>
		</div>
		<button class="btn pull-right" id = "saveRoundBTN">
			<i class="icon-ok"></i>
		</button>
	</div>
</div>
{% endif %}

<!-- STANDINGS -->
{% if round.round_type == 0 %}
<div class="teableHeader" style="margin-top:10px;margin-bottom:5px;">
	Standings
</div>
<table class="table table-striped resutls-table">
	<thead>
		<tr>
			<th>Место</th>
			<th>Команда</th>
			<th>Участники</th>
			<th></th>
			<th>Игр</th>
			<th>Побед</th>
			<th>Поражений</th>
			<th>Забитые/Пропущеные</th>
			<th>Разница голов</th>
			<th>Очки</th>
		</tr>
	</thead>
	{% for tm in round|round_table%}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href="{% url 'tour:index_team' tm.id %}">
						{% if tm.avatar %}
						<img src="{{tm.avatar}}" width="42" height="42" />
						{%else%}
						<img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" />
						{%endif%}
						{{ tm.team_name }}
						</a></td>
		<td><a href="{% url 'tour:profile' tm.players.all|player_user_id:0 %}"> {% if tm.players.all|key_ava:0 %} <img src ="{{tm.players.all|key_ava:0}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

		{{tm.players.all|index:0}} </a></td><td><a href="{% url 'tour:profile' tm.players.all|player_user_id:1 %}"> {% if tm.players.all|key_ava:1 %} <img src ="{{tm.players.all|key_ava:1}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

		{{tm.players.all|index:1}} </a></td>
		<td>{{ tm.games}}</td>
		<td>{{ tm.win}}</td>
		<td>{{ tm.loos}}</td>
		<td>{{ tm.goals_my}} / {{ tm.goals_me}}</td>
		<td>{{ tm.dif}}</td>
		<td>{{ tm.points}}</td>
	</tr>
	{% endfor %}
</table>

{% else%}

<hr>

<!-- PLAYFOFF Final -->
{%if match_list|playoff_filter:1%}
<DIV class="span10">
<div class="teableHeader">Финал</div>
	{%for match_block in match_list|playoff_table_filter:1%}
<div class="span5">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of final -->



<!-- PLAYFOFF 3th -->
{%if match_list|playoff_filter:3%}
<DIV class="span10">
<div class="teableHeader">3-е место</div>
	{%for match_block in match_list|playoff_table_filter:3%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 3d -->


<!-- PLAYFOFF 1/2 -->
{%if match_list|playoff_filter:2%}
<DIV class="span10">
<div class="teableHeader">1/2:</div>
	{%for match_block in match_list|playoff_table_filter:2%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/2 -->



<!-- PLAYFOFF 1/4 -->
{%if match_list|playoff_filter:4%}
<DIV class="span10">
<div class="teableHeader">1/4:</div>
	{%for match_block in match_list|playoff_table_filter:4%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/4 -->

<!-- PLAYFOFF 1/8 -->
{%if match_list|playoff_filter:8%}
<DIV class="span10">
<div class="teableHeader">1/8:</div>
	{%for match_block in match_list|playoff_table_filter:8%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/8 -->
<p><hr></p>

{% endif %}

<div class="row">
	<div style="margin:10px;"></div>
	<div class="span4 manage-table" id="tourTable">
		<div class="teableHeader">
			Матчи
			<select class="pull-right" id="match_filter">
				<option value="-1">Все</option>
				<option value="0">Отмененный</option>
				<option value="1">Предстоящий</option>
				<option value="2">Завершенный</option>
			</select>
		</div>
		{% if match_list %}
		<div style="margin: 5px; padding:5px;">
			<select class="pull-right" width="200" style="width: 200px" id = "filterRoundByPlayer">
				<option value = "-1"> Фильтр по участнику</option>
				{% for player in player_list %}
				<option value='{{player.id}}'> {{player}} </option>
				{% endfor %}
			</select>

			<select class="pull-right" width="200" style="width: 200px" id="filterRoundByTeam">
				<option value = "-1"> Фильтр по команде</option>
				{% for team in team_list %}
				<!--<option value='{{team.id}}'> {{team}} </option> -->
				
					<option value='{{team.id}}'> {{team.team_name}} ({{team.players.all|index:1}} - {{team.players.all|index:0}})  </option>
				
				{% endfor %}
			</select>
		</div>

		<table class="table round-table" >
			<div class="pull-right">
				<label class="label">0 отменен</label>
				<label class="label label-info">1 предстоящий</label>
				<label  class="label label-success">2 завершенный</label>
			</div>
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Team A</th>
					<th></th>
					<th>Team B</th>
					<th>Status</th>
					{%if round.round_type == 1%}
					<th>Playoff</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id = "match_list">
				{% for match in match_list %}
				<script type="text/javascript">
					match_select += "<option value={{match.id}}>#{{match.id}} {{match.team_a.team_name}} vs {{match.team_b.team_name}}</option>";
				</script>
				<tr class="match-select" match_id = "{{ match.id}}">
					<td>{{match.id}}</td>
					<td><a href="{% url 'tour:manage:match' match.id %}">{% if match.title %} {{match.title}} {% else %} {{ match.team_a }} - {{ match.team_b }} {% endif%}</a></td>
						
					<td id="team_a{{match.id}}">{{match.team_a.team_name}}</td>
					<td> {% if match.status == 2 %}
					{{ match.score_a }} :
					{{ match.score_b }}
					{% endif%}
					{% if match.status == 1 %}
					
					<button class="btn btn-mini set-results"  match="{{ match.id}}" team_a="{{match.team_a.id}}" team_b="{{match.team_b.id}}" title_a="{{match.team_a}}" title_b="{{match.team_b}}">
						RES
					</button>
					{% endif %}
 					</td>
					<td id="team_b{{match.id}}">{{match.team_b.team_name}}</td>
					<td> {% if match.status == 0 %} <label class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> {% endif %}

					{% if match.status == 1 %} <label class="label label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> {% endif %}

					{% if match.status == 2 %} <label  class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
					
					{% endif %}
					
					{% if round.round_type == 1 %}
					<td>{{match.PLAYOFF_LIST|playoff_list:match.playoff}}</td>
					{% endif %}
									</tr>
				{% endfor %}
			</tbody>
		</table>

		{% else %}
		<label for="matches">
			<br>
			Матчей между командами</label>
		<input type="text" class="input-small" id="matches"/>
		<br>
		<button class="btn" id = "generateMatches">
			Сгенерировать матчи
		</button>
		{% endif %}
	</div>
	<div class="span3">
		<div class="teableHeader">
			Добавить
		</div>
		<form method="POST">
			{% csrf_token %}
			{{ form }}
			<div hidden>
				<select id="id_round" name = "round" hidden>
					<option  value = "{{ round.id }}">{{ round.id }}</option>
				</select>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<input class="btn" type='submit' />
				</div>
			</div>
		</form>
	</div>
	<div class="span3" >
		<div class="teableHeader">
			Команды турнира
		</div>
		<table class="table">
			{% for team in round.tournament.teams.all %}
			<tr>
				<td class="team-select" title="{{team}}">{{team.team_name}}</td>
				<td>
				<button class="btn btn-mini add_to_a" team="{{team.id}}">
					A
				</button>
				<button class="btn btn-mini add_to_b" team="{{team.id}}">
					B
				</button></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal"  aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Завершить матч</h4>
			</div>
			<div class="modal-body ">
				<div class=" form-inline">				
				<label id="team_a_name">Счет команды А</label>
				
				<input class="input-mini" id="score_a" type="text" />
				
				:
				
				<input class="input-mini" id = "score_b" type="text" />
				<label id="team_b_name">Счет команды Б</label>				
				
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Отмена
				</button>
				<button type="button" class="btn btn-primary" id="saveMatchResults">
					Готово
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}