{% extends "tournament/base.html" %}
{% load staticfiles %}

{% block title %}
	Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
	::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<script type="text/javascript">
 	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
 	var AJAX_DELETE = "{% url 'tour:manage:delete' %}";
 	var TEAM_ID = "{{team.id}}";
 </script>

<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
	<div class="span11 teableHeader">
		<div class="">
			{% if my_team %}
			Моя
			{% endif %}
			Команда
			<button class="btn pull-right" id = "removeTeamBTN"> <i class="icon-trash"></i></button>
			<button class="btn pull-right" id = "editBTN"> <i class="icon-wrench"></i>
			</button>
		</div>
	</div>
	<div class="span11" id = "show">
		<p>
			Название: <b><span id="team_title">{{team.team_name}}</span></b> 
		</p>
		<p>
			Активная:
			<span id = "active" >{{team.active}}</span>
		</p>
	</div>

	<div class="span11" id="edit" hidden>
		<p>
			Название: <b><input id="teamTitle" type="text" value="{{team.title}}"></b>
		</p>
		<p>
			Активная:
			<select id ="activeSelect">
				<option value="1" {% if team.active %} selected="selected" {%endif%}>Да</option>
				<option value="0" {% if not team.active %} selected="selected" {%endif%}>Нет</option>
			</select>
		</p>

		<button class="btn pull-right" id = "saveTeamBTN"> <i class="icon-ok"></i>
		</button>
	</div>

</div>
<div class="row">
	<div style="margin:10px;"></div>
	<div class="span11 manage-table" id="tourTable">
		<div class="teableHeader">Игроки</div>
		<table class="table round-table">
			{% for plr in team.players.all %}
			<tr>
				<td><a href="{% url 'tour:profile' plr.id %}">{{ plr }}</a></td>
				<td>{{ plr.user.id }}</td>
			</tr>
			{% endfor %}
		</table>

	</div>

	

</div>
{% endblock %}