{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}
{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var AJAX_ADD = "{% url 'tour:manage:add' %}";
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	var AJAX_LIST = "{% url 'tour:manage:list' %}";
	var AJAX_DELETE = "{% url 'tour:manage:delete' %}";
	var TOUR_ID = "{{ tour.id }}";

	var ROUND_ADDRES = "{% url 'tour:manage:round' %}";

	$(document).ready(function() {
		$("#id_tournament").val("{{ tour.id }}");
	}); 
</script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
{% if tour %}
<div class="row">
	<div class="teableHeader" style="  border-left:5px solid; border-right:5px solid;border-color:#993333; margin:5px;">
		<div >
			Турнир
			<button class="btn pull-right" id = "removeTourBTN" style="background: white;">
				<i class="icon-trash"></i>
			</button>
			<button class="btn pull-right" id = "editBTN" style="background: white;">
				<i class="icon-wrench"></i>
			</button>
		
			
		</div>
	</div>
</div>
<div class="row">	
	<div class="span5" id = "show" style="border-left:2px solid grey;border-right:2px solid grey; height: 100%;">		
		<div class="span5 " >
			<p>
				<b><span id="tour_title">{{tour.title}}</span></b>
			</p>
			Статус:
			<span id="tour_status"> {% if tour.status == 0 %}
				Предстоящий
				{% endif %}

				{% if tour.status == 1 %}
				Текущий
				{% endif %}

				{% if tour.status == 2 %}
				Завершенный
				{% endif %} </span>
		</div>
		<div class="span5">
			Видимый: {{ tour.visible}}
			<br>
			{% if tour.status == 2%}
			<span>Завершен: {{tour.end_date}}</span>
			{% endif%}
			{% if tour.teams.all|length == 0 %}
			<button class="btn" id = "generateTeams">
				Сгенерировать команды
			</button>
			{% endif %}
		</div>
	</div>
	<div class="span5" id="edit" hidden="hidden"  style="border-left:2px solid grey;border-right:2px solid grey;">

		<p>
			<b>
			<input id = "tourName" type="text" value="{{tour.title}}">
			</b>
		</p>
		<select id = "tourStatus">
			<option value = "0" {% if tour.status == 0 %} selected="selected" {% endif %}>Предстоящий</option>
			<option value = "1" {% if tour.status == 1 %} selected="selected" {% endif %}>Текущий</option>
			<option value = "2" {% if tour.status == 2 %} selected="selected" {% endif %}>Завершенный</option>
		</select>
		<br>
		{% if tour.visible %}
		Видимый:
		<input type="checkbox" name = "visible" id="visible_id" checked = "checked"/>
		{% else %}
		Видимый:
		<input type="checkbox" name = "visible" id="visible_id"/>
		{% endif %}

		<button class="btn pull-right" id = "saveTourBTN">
			<i class="icon-ok"></i>
		</button>
	</div>
	
	<div class="span6 manage-table" id="tourTable">
		<div class="teableHeader">
			Раунды
			<div class="input-append pull-right">
			
			<select  id="round_filter">
				<option value="-1">Все</option>
				<option value="0">Регулярный</option>
				<option value="1">Play-off</option>
			</select>
			<button class="btn" id = "addBTN" onclick="$('#team_modal').modal();">
				<i class="icon-plus-sign"></i>
			</button>
			</div>
		</div>
		<table class="table table-hover" >
			<thead>
				<tr>
					<th>#</th>
					<th>Serial</th>
					<th>Title</th>
					<th>Type</th>
					<th>Active</th>					
				</tr>
			</thead>
			<tbody id="round_list">
				{% for round in round_list %}
				<tr>
					<td>{{round.id}}</td>
					<td>{{round.serial}}</td>
					<td><a href="{% url 'tour:manage:round' round.id %}">{{round.title}}</a></td>
					<td></td>
					<td>{{ round.TYPE_LIST|key:round.round_type }}</td>
					<td>{{ round.active}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	

</div>
{% if tour.teams %}
<div class="row" id = "team_generator" >
	<div style="margin:10px;"></div>
	<div class="span5">
		<div class="teableHeader" id = "toggle-team-table" style="cursor:pointer;">
			Команды:
		</div>
		<div id ="loadingImage" hidden>
			Генерирование
			<img src = "{% static 'tournament/img/loading.GIF' %}"  >
		</div>
		<table class= "table" id = "team_table" >
			{% for team in tour.teams.all %}
			<tr>
				<td><a href="{% url 'tour:manage:team' team.id %}">{{team.team_name}}</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="span5">
		<div class="teableHeader" style="cursor:pointer;">
			Игроки:
			<div class="pull-right">

				<div id="playerList">
					<div class="input-append">
						<select id = "addPlayerToTour">
							{% for plr in other_players %}
							<option value="{{plr.id}}"> {{plr}}</option>
							{% endfor %}
						</select>
						<button class="btn" id="addPlayer">
							<i class="icon-plus-sign"></i>
						</button>
					</div>
				</div>

			</div>
		</div>

		<table class= "table" id = "team_table" >
			{% for player in tour.players.all %}
			<tr>
				<td><a href= "{% url 'tour:profile' player.user.pk %}">{{player}}</a>
				<div class="pull-right">
					<button class="btn btn-mini delPlayerButton" player={{player.id}}>
						<i class="icon-remove-sign"></i>
					</button>
				</div></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}
{% endif %}
<div class="modal hide fade" id="team_modal" style="width:790px;left:40%">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Добавить раунд</h3>
  </div>
  <div class="modal-body">   			
		<form method="POST">
			{% csrf_token %}
			{{ form }}
			<p>
				<div class="control-group">
					<div class="controls">
						<input class="btn" type='submit' />
					</div>
				</div>
		</form>
	</div>
  </div>
</div>

{% endblock %}