{% extends "tournament/base.html" %}
{% load staticfiles %}

{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}
::
<a class="fancy-manager" href="{% url 'tour:manage:manager' %}">Tournament Manager</a>
{% endblock %}

{% block user_script %}
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="{% static 'tournament/js/TourApp.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament/js/manage/TourController.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament/js/manage/Models.js' %}"></script>

<script type="text/javascript">
	var wizzard_addres = "{% url 'tour:manage:wizzard' %}";
	var AJAX_TEAMS = "{% url 'tour:manage:generator' %}"; 
</script>
{% endblock %}

{% block content %}
<div class="row">

	<!-- TOURNAMENT -->
	<div id="newTournament">
		<div class="span12"></div>
		<div class="span6">
			<form method="POST" id="tour" action="#">
				{% csrf_token %}
				{{ tform }}
			</form>
			<div class="alert alert-error" id = "teamsError" hidden>
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				Выберите четное количество игроков, не меньше 4-х.
			</div>
			<button class="btn" id = "generateTeams">
				<i class=" icon-cog"></i>
				Сгенерировать комманды
			</button>
			<button class="btn btn-success" id="nextRound">
				Раунды <i class="icon-chevron-right"></i>
			</button>
		</div>
		<div class="span4" >

			<table id = "teamList" class="table"></table>
		</div>
	</div>

	<!-- ROUND -->
	<div id = "newRound" hidden>
		<div class="span5">

			<div class="alert alert-error" id = "roundMesssage" hidden>
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				Нужен минимум один раунд!
			</div>

			<form method="POST" id="round" action="#">
				{% csrf_token %}
				{{ rform }}
			</form>
			<button class="btn" id="prevTour">
				<i class="icon-chevron-left "></i>
				Назад
			</button>
			<button class="btn btn-success" id="saveAndAdd">
				<i class="icon-plus-sign"></i>
				Добавить
			</button>
			<button class="btn btn-success" id="nextMatch">
				Генерация матчей
				<i class="icon-chevron-right "></i>
			</button>
			<br>
		</div>
		<div class="span5">
			<div class="teableHeader" style="margin-bottom:10px;">
				Раунды:
			</div>
			<!-- Render in TourController.js -->
			<div id = "roundSort">
				<ul id="sortable"></ul>
			</div>
		</div>
	</div>

	<!-- MATCH -->
	<div id = "newMatch" hidden>
		<div class="span5">
			<div class="span4">
				<div id="generated" style="margin-bottom:15px;"></div>
				<button class="btn" id="prevRound">
					<i class="icon-chevron-left "></i>
					Назад
				</button>
				<button class="btn" id = "generateMatch">
					<i class=" icon-cog"></i>
					Сгенерировать матчи
				</button>

				<button class="btn btn-success" id = "doneButton">
					<i class=" icon-ok-sign"></i>
					Готово
				</button>

				<!-- ADD MATCH TO PLAY-OFF FORM -->
				<div class="span4" id="addPlayOffForm" hidden>
					<button type="button" class="close" id="cancelAddMatch">
						&times;
					</button>
					<div class="form-horizontal">
						<input id = "poff_round_id" type="hidden" >
						<div class="control-group">
							<label>Название</label>
							<input id = "poff_match_title" type = "text">
						</div>
						<div class="control-group">
							<label>Команда А</label>
							<select id = "poff_team_a_select"></select>
						</div>
						<div class="control-group">
							<label>Команда Б</label>
							<select id = "poff_team_b_select"></select>
						</div>
						<div class="control-group">
							<button class="btn pull-right" id = "addMatchToPlayOff">
								<i class=" icon-ok"></i>
								Добавить
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span5">
			<div id="matchHolder"></div>
		</div>

	</div>

	<!-- RESULTS -->
	<div id="results" hidden>
		<div class="span9">
			<div class = "teableHeader">
				Новый турнир
			</div>
			<br>
			<div id="loading" hidden>
				Сохранение... <img class="loadingImage" src = "{% static 'tournament/img/loading.GIF' %}"  >
			</div>
			<div id="resultsControls">
				<button class="btn" id = "prevMatch">
					<i class="icon-chevron-left "></i>
					Назад
				</button>
				<button class="btn btn-success" id = "saveAll">
					<i class="icon-hdd"></i>
					Сохранить
				</button>
			</div>
			<div id ="saveSuccess" hidden>
				<p>
					Турнир сохранен. <a href="{% url 'tour:manage:manager' %}" >Вернусть на страницу менеджера</a>
				</p>
			</div>
			<P></P>
		</div>
		<div class="span9" >
			<div id="tourTitle" class="span9"></div>
			<p></p>
			<hr>
			<div class="span4">
				<div class="teableHeader">
					Команды:
				</div>
				<table class="table manage-table" id="tourPlayerList" ></table>
			</div>

			<div class="span4">

				<div id="tourMatchList"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}