{% extends "admin/base.html" %}

{% block title %}Tournament manager{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Tournament manager</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}