.round-table{
    font-size: 12px;
    color: black;
}

.round-table tr:hover{
    background: white;
    cursor: pointer;
}

.round-title:hover{
	cursor: pointer;
}

.teableHeader{
    background-color:  #E6E6E6;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 3px solid grey;
}
.tableFooter{
    background-color:  #E6E6E6;
    margin-bottom: 15px;
}

.controllPanel{
    display: inline-block;
}

.roundLognList{
    margin: 5px;
}

.loadingImage{
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.hero-unit{
    padding-top: 30px;
}

.team-box{    
    height: 30px;
    margin-top: 5px;
    background: white;
    border: 1px solid #7A0000;
    border-right: 4px solid #7A0000;
    border-radius: 3px;
  
}

.selected{
    background-color: #EBD6D6;

}
.match-box table{
	margin-bottom:0px;

	}
.match-box{    
    padding: 8px;
    padding-bottom:0px;
    padding-right:15px;
    border: 1px solid #3a87ad;
    border-right: 4px solid #3a87ad;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom:5px;
}

.playoff{    
    margin-left: 5px;
    width: 260px;
    height: 100%;
}
.playoff-box{
    margin: 0px auto;
}

.username{
	font-size: 24px;
}
.usersubname{
	font-size: 14px;
}


.fancy-title{
	font-family: 'Exo', sans-serif;
	font-weight: 700;	 
	font-size:30px;
}
.fancy-manager:hover{
	color:white;
}
.fancy-manager{
	color:white;
	font-family: 'Exo', sans-serif;
}

.manage-table{
	width:450px;   
}

.btn-menu{
	width:104%;
	border-right: 5px solid grey;
	border-left: 5px solid grey;
	border-radius:4px;
	padding:5px;
	padding-left:15px;
	margin-top:-20px;
 	background-color: #f5f5f5;
}

.navbar-default{
	margin-left:0px;
	margin-right:0px;
}

.mybrand{
	padding-left:20px;
	margin:0px;
	height:40px;
	line-height: 100%;
}

.round-info{
	background-color: #f5f5f5;
}

.facebook-icon{
	background-image: url("../img/facebook.png");
}

.twitter-icon{
	background-image: url("../img/twitter.png");
}

.vk-icon{
	background-image: url("../img/vk.png");
}

.myicon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 16px;
	display: inline-block;
 	vertical-align: text-top;
	background-repeat: no-repeat;
}

.social-btn{
	width:200px;	
}

.social-btn i{
	margin-left: 5px;
}

#show, #edit{
    font-size: 14px;
    padding: 5px;    
    background-color: #f5f5f5;
}


#addPlayOffForm{
    border-top: 1px solid grey;
    width:250px;
    padding: 10px;
    background-color: #E6E6E6;
    margin-top: 10px;
}

#roundSort{
    background-color: #E6E6E6;
    padding: 5px;
}

#teamsError{
    width: 500px;
}

#tourTitle{
    border-top: 1px solid grey;
    padding: 5px;
    margin: 3px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 14px;}
#sortable li span { position: absolute; margin-left: -1.3em; }

caption{
    color: #400000;
     font-weight:bold;
}

form{
    padding: 10px;
}

table {
    font-size: 12px;
}


a{
       color: #003399;
}
a:hover{
    text-decoration: none;
}

body{
background-image: url('../img/pattern-duho.png');	
}
