{% extends "tournament/base.html" %}
{% load staticfiles %}
{% block user_script %}
<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

<div class="row">
	<div class="span10">
		<div class="span 5 ">
		<form class="form-horizontal pull-right" id="loginForm" method = "POST" action="{% url 'tour:login' %}">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label"for="inputEmail">Логин</label>
				<div class="controls">
					<input type="text" id="id_login"  name = "login"  placeholder="Логин">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Пароль</label>
				<div class="controls">
					<input type="password" name ="password" id="id_password" placeholder="Пароль">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" id="loginButton" class="btn">
						Войти
					</button>
				</div>
			</div>
		</form>
</div>
<div class="span 5 alert alert-error">
			<p>
				Не удалось выполнить вход с указаными данными.
				<br>
				Попробуйте снова.
			</p>
		</div>


	</div>

</div>
{% endblock %}