{% extends "tournament/base.html" %}
{% load staticfiles %}

{% block user_script %}
<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span5">
		<legend>Регистрация</legend>
		<form method="post" action="{% url 'tour:register' %}"
			class="form-horizontal">

			
			{% csrf_token %} {% for field in form %}
			<div class="control-group">
				<label class="control-label">{{ field.label }}</label>
				<div class="controls">{{ field }}</div>
			</div>
			{% endfor %} <input type="submit" class="btn pull-right" />
		</form>
	</div>
	<div class="span5">
		<legend>Через социальные сети</legend>
		<div><button class="btn facebookbutton social-btn " disabled><i class="facebook-icon myicon"></i> Facebook</button></div>
		

		<div><button class="btn social-btn vk-login-button" disabled><i class="vk-icon myicon"></i> Vkontakte</button></div>
		<div><button class="btn social-btn" disabled><i class="twitter-icon myicon"></i> Twitter</button></div>
		
		<!-- <div>VK</div>
		<div>LinkID</div>
		<div>Twitter</div> -->
		
	</div>
</div>
{% endblock %}
