{% extends "tournament/base.html" %}
{% load staticfiles %}

{% block user_script %}
<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
<script>
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var PLAYER_ID = "{{ player.id }}"; 
</script>
{% endblock %}
{% block content %}
<div class="row">

	<div class="span11 teableHeader">
		{% if player.user == user  %}
		Мой профиль
		{% else %}
		Профиль
		{%endif%}
		{% if player.user == user  %}
		<button class='btn pull-right' id="editBTN">
			<i class="icon-wrench"></i> Редактировать
		</button>
		{%endif%}
	</div>

	<div class="span11" id="show">

		<div class="span5">
			{% if player.avatar %}
			<img src="{{player.avatar}}" align="left" style="margin:5px;"/>
			{%endif%}
			<span class="username fancy-title" id="actual_name">{{ player.user.first_name }} {{ player.user.last_name }}</span>
			<br>
			{% if player.fb_id %}
			<span class="usersubname"><a href="http://facebook.com/{{player.fb_id}}" target="_blank"><i class="facebook-icon myicon"></i> Facebook</a></span>
			{% else %}
			{% if player.vk_id %}
			<span class="usersubname"><a href="http://vk.com/id{{player.vk_id}}" target="_blank"><i class="vk-icon myicon"></i> Вконтакте</a></span>
			{% else%}
			<span class="usersubname">{{player.user.username}}</span>
			{%endif%}
			{% endif %}
		</div>
		{% if player.user == user  %}
		<div class="span3">
			<span class="actual_email">{{ user.email}}</span>
			<br>
		</div>
	</div>
	{% endif %}

	{% if player.user == user  %}
	<div class="span11" id="edit" hidden>
		<div class="span4">
			{% csrf_token %}
			<label>Имя</label>
			<input type="text" id="player_first_name"  value = "{{ player.user.first_name }}"/>
			<label>Фамилия</label>
			<input type="text" id="player_last_name" value = "{{ player.user.last_name }}"/>
		</div>
		<div class="span4">
			<label>Е-mail</label>
			<input type="text" id="player_email" value="{{ user.email}}"/>

		</div>
		<div class="span10">

			<button class="btn pull-right" id = "savePlayerButton">
				<i class="icon-ok"></i> Сохранить
			</button>
		</div>
	</div>

	<div class="span11">
		<div style="width: 100%; height: 20px;"></div>
		<div class="teableHeader">Голосование</div>		
		{% if tour_vots %}
			{% for vote in tour_vots %}
				<a href="{% url 'tour:vote' vote.id %}">{{vote.title}}</a>
			{%endfor%}
		{% else %}
		Доступных голосований нет
		{% endif %}
	</div>
	{% endif %}
</div>
<div class="row">
	<div style="width: 100%; height: 20px;"></div>
	<div class="span5">

		{% if user_teams %}
		<div class="teableHeader">
			Команды:
		</div>
		<div class="userTeam">
			<table class="table">
				<thead>
					<tr>
						<th> Название </th>
						<th> Активная </th>
					</tr>
				</thead>
				{% for team in user_teams%}
				<tr>
					<td><a href = "{% url 'tour:index_team' team.id %}">
						{% if team.avatar %}
						<img src="{{team.avatar}}" width="42" height="42" />
						{%else%}
						<img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" />
						{%endif%}
						 
					{% if team.team_name%}
					{{team.team_name}}
					{% else %}
					{% for plr in team.players.all %}
					{{ plr}} -
					{%endfor%}
					{% endif %} </a></td><td>{{team.active}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
	</div>

	{% if tours %}
	<div class="span4">
		<div class="teableHeader">
			Турниры:
		</div>
		<div class="userTeam">
			<table class="table">
				<thead>
					<tr>
						<th> Название </th>
					</tr>
				</thead>
				{% for t in tours%}
				<tr>
					<td><a href="{% url 'tour:index_tour' t.id %}">{{t}}</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
<!--
	{% if matches %}
	<div class="span4">
		<div class="teableHeader">
			Сыграные матчи:
		</div>
		<div class="userTeam">
			<table class="table">
				<thead>
					<tr>
						<th> Название </th>

					</tr>
				</thead>
				{% for t in matches%}
				<tr>
					<td>{{t}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
-->
</div>
{% endblock %}