{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}

{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block brand%}

{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	var AJAX_GET_STANDINGS_INDEX = "{% url 'tour:manage:get_match_standings' %}";

</script>

<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
{% endblock %}
{% block content %}
<div  class="row">
	{% if tour %}
	Текущий турнир:
	<br>
	<span class="fancy-title"><b>{{tour.title}}</b></span>
	<div class="pull-right">
		Участников: {{ players_count }}, Матчей: {{ matches_count }}
	</div>
	<br>
	{% else %}
	<p>
		Турниров пока нет
	</p>
	{% endif %}
	{% for round in current_tour%}
	<div class="teableHeader round-title" round="{{round.id}}" style="border-left: 10px solid #33AD5C;">
		<h3><span>{{round.title}}
			<div class="pull-right">
				<span class="label label-info">{{ round.match_set|set_in_status_length:1 }}</span>
				<span class="label label-success">{{ round.match_set|set_in_status_length:2 }}</span>
				<span class="label">{{ round.match_set|set_in_status_length:0 }}</span>
			</div> </span></h3>
	</div>
	<div class="row " id="round{{round.id}}"  hidden>
		<div class = "span11">
			<a href="{% url 'tour:index_round' round.id %}">Перейти на страницу раунда</a>
		</div>

		<!-- STANDINGS -->
		{% if round.round_type == 0 %}
		<div class="span11">
			<div class="teableHeader" style="margin-top:10px;margin-bottom:5px;">
				Турнирная таблица
			</div>
			<table class="table table-striped resutls-table">
				<thead>
					<tr>
						<th>Место</th>
						<th>Команда</th>
						<th>Участники</th>
						<th></th>
						<th>Игр</th>
						<th>Побед</th>
						<th>Поражений</th>
						<th>Забитые/Пропущеные</th>
						<th>Разница голов</th>
						<th>Очки</th>
					</tr>
				</thead>
				{% for tm in round|round_table%}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{% url 'tour:index_team' tm.id %}">
						{% if tm.avatar %}
						<img src="{{tm.avatar}}" width="42" height="42" />
						{%else%}
						<img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" />
						{%endif%}
						{{ tm.team_name }}
						</a></td>
					<td>
						<a href="{% url 'tour:profile' tm.players.all|player_user_id:0 %}"> 
							{% if tm.players.all|key_ava:0 %} 
							<img src ="{{tm.players.all|key_ava:0}}" width="42"> 
							{% else %} 
							<img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> 
							{%endif%}

					{{tm.players.all|index:0}} </a> 
					</td><td>
					<a href="{% url 'tour:profile' tm.players.all|player_user_id:1 %}"> 
						{% if tm.players.all|key_ava:1 %} 
						<img src ="{{tm.players.all|key_ava:1}}" width="42"> 
						{% else %} 
						<img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> 
						{%endif%}

					{{tm.players.all|index:1}} </a></td>
					<td>{{ tm.games}}</td>
					<td>{{ tm.win}}</td>
					<td>{{ tm.loos}}</td>
					<td>{{ tm.goals_my}} / {{ tm.goals_me}}</td>
					<td>{{ tm.dif}}</td>
					<td>{{ tm.points}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% else%}

			<p>Таблица Play-off на странице раунда</p>

		{% endif %}
		<div class="span11 teableHeader">
			Матчи раунда
		</div>
		<div class="span5">
			<table class="table table-condensed">
				<span class="label label-info" style="width: 100%;">Предстоящие: {{ round.match_set|set_in_status_length:1 }}</span>
				<thead>
					<tr>

						<th>Название</th>
						<th>Комманда А</th>
						<th>Комманда Б</th>

					</tr>
				</thead>
				{% for match in round.match_set|in_status:1%}
				<tr>
					<td>{{match.title}}</td>
					<td><a href="{% url 'tour:index_team' match.team_a.id %}">{{match.team_a.team_name}}</a></td>
					<td><a href="{% url 'tour:index_team' match.team_b.id %}">{{match.team_b.team_name}}</a></td>
				</tr>
				{% empty %}
				Матчей нет
				{% endfor %}
			</table>
		</div>

		<div class="span6">
			<table class="table table-condensed">
				<span class="label label-success" style="width: 100%;">Завершенные:  {{ round.match_set|set_in_status_length:2 }}</span>
				<thead>
					<tr>
						<th>Название</th>
						<th>Комманда А</th>
						<th>Комманда Б</th>
						<th>Счет</td>
					</tr>
				</thead>
				{% for match in round.match_set|in_status:2%}
				<tr>
					<td>{{match.title}}</td>
					<td><a href="{% url 'tour:index_team' match.team_a.id %}">{{match.team_a.team_name}}</a></td>
					<td><a href="{% url 'tour:index_team' match.team_b.id %}">{{match.team_b.team_name}}</a></td>
					<td>{{ match.score_a}} : {{ match.score_b}} </td>
				</tr>
				{% empty %}
				<tr>
					<td> Матчей нет </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	{% endfor %}

</div>
<div class="row">
	<hr>
	<div style="margin:10px;"></div>
	<div class="span5 manage-table" id="tourTable">
		<div class="teableHeader">
			Турниры
			<select class="pull-right" id="tour_filter">
				<option selected="selected" value="-1">Все</option>
				<option value="0">Предстоящие</option>
				<option value="1">Текущие</option>
				<option value="2">Завершенные</option>
			</select>
		</div>
		<table class="table round-table" >
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Status</th>
					<th>Players</th>
					<th>Teams</th>
				</tr>
			</thead>
			<tbody id = "tour_table">
				{% for tour in tours %}
				<tr>
					<td> {{ tour.id }} </td>
					<td><a href="{% url 'tour:index_tour' tour.id %}">{{tour.title}}</a></td>
					<td>{{tour.STATUS_LIST|key:tour.status}}</td>
					<td>{{ tour.players.count }}</td>
					<td>{{ tour.teams.count }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="tableFooter"></div>
	</div>

	<div class="span5 manage-table" id="tourTable">
		<div class="teableHeader">
			Игроки
			<div class="pull-right">
				<input type="text" class="input-medium search-query" id="userName">
				<button type="submit" class="btn" id="doSearchUser">
					Найти
				</button>
			</div>
		</div>
		<table class="table round-table" id = "tour_table">
			Всего: {{players.count}}
			<tbody id = "userList">
				{% for plr in players %}
				<tr>
					<td><a href="{% url 'tour:profile' plr.user.id %}">{{ plr }} </a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="tableFooter"></div>
	</div>
</div>
{% endblock %}