{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}
{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	var TOUR_ID = "{{ tour.id }}";
	var AJAX_GET_STANDINGS_INDEX = "{% url 'tour:manage:get_match_standings' %}";
	var ROUND_ADDRES = "{% url 'tour:manage:round' %}";

	$(document).ready(function() {
		$("#id_tournament").val("{{ tour.id }}");
	}); 
</script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>

<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
{% endblock %}
{% block content %}
{% if tour %}
<div class="row">

	<div class="span5" >
		<div class="teableHeader">			
			<div >			
				Турнир
			</div>
		</div>
		<div class="span4 " >
				<div style="margin:10px;"></div>
			<p>
				<b><span class="fancy-title" id="tour_title">{{tour.title}}</span></b>
			</p>
<a href="#" onclick="$('#reglment_modal').modal();">Регламент</a> |	
<a href="#" onclick="$('#team_modal').modal();">Команды</a>
{% if tour.status == 2%}
{% if voted_percent > 80 %}
|
<a href="#" onclick="$('#top_modal').modal();">Топ игроков</a>
{% else %}
| Проголосовало {{ voted_percent }}%
{% endif %}
{% endif %}
 
		</div>
	</div>
	<div class="span6 manage-table" id="tourTable">
		<div class="teableHeader">
			Раунды<!--
			<select class="pull-right" id="round_filter">
			<option>Все</option>
			<option value="0">Регулярный</option>
			<option value="1">Play-off</option>
			</select>-->
		</div>
		<table class="table table-hover" id = "round_list">
			<thead>
				<tr>
					<th>#</th>
					<th>Serial</th>
					<th>Title</th>
					<th>Type</th>
				</tr>
			</thead>
			{% for round in round_list %}
			<tr>
				<td>{{round.id}}</td>
				<td>{{round.serial}}</td>
				<td><a href="{% url 'tour:index_round' round.id %}">{{round.title}}</a></td>
				<td></td>
				<td>{{ round.TYPE_LIST|key:round.round_type }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="span11" id="edit" hidden="hidden">
		<p>
			<b>
			<input id = "tourName" type="text" value="{{tour.title}}">
			</b>
		</p>
		<select id = "tourStatus">
			<option value = 0>Предстоящий</option>
			<option value = 1>Текущий</option>
			<option value = 2>Завершенный</option>
		</select>
		<button class="btn pull-right" id = "saveTourBTN">
			<i class="icon-ok"></i>
		</button>
	</div>
</div>
{% endif %}

<div  class="row">

	{% for round in round_list%}
	<div class="teableHeader round-title" round="{{round.id}}" style="border-left: 10px solid #33AD5C;">
		<h3><span>{{round.title}}
			<div class="pull-right">
				<span class="label label-info">{{ round.match_set|set_in_status_length:1 }}</span>
				<span class="label label-success">{{ round.match_set|set_in_status_length:2 }}</span>
				<span class="label">{{ round.match_set|set_in_status_length:0 }}</span>
			</div> </span></h3>
	</div>

	<div class="row " id="round{{round.id}}"  {% if round.active %} bla bla {% else %} hidden="hidden" {% endif %}>
		<div class = "span11">
			<a href="{% url 'tour:index_round' round.id %}">Перейти на страницу раунда</a>
		</div>

		<!-- STANDINGS -->
		{% if round.round_type == 0 %}
		<div class="span11">
			<div class="teableHeader" style="margin-top:10px;margin-bottom:5px;">
				Турнирная таблица
			</div>
			<table class="table table-striped resutls-table">
				<thead>
					<tr>
						<th>Место</th>
						<th>Команда</th>
						<th>Участники</th>
						<th></th>
						<th>Игр</th>
						<th>Побед</th>
						<th>Поражений</th>
						<th>Забитые/Пропущеные</th>
						<th>Разница голов</th>
						<th>Очки</th>
					</tr>
				</thead>
				{% for tm in round|round_table%}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{% url 'tour:index_team' tm.id %}"> {% if tm.avatar %} <img src="{{tm.avatar}}" width="42" height="42" /> {%else%} <img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" /> {%endif%}
					{{ tm.team_name }} </a></td>
					<td><a href="{% url 'tour:profile' tm.players.all|player_user_id:0 %}"> {% if tm.players.all|key_ava:0 %} <img src ="{{tm.players.all|key_ava:0}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

					{{tm.players.all|index:0}} </a></td>
					<td><a href="{% url 'tour:profile' tm.players.all|player_user_id:1 %}"> 
						{% if tm.players.all|key_ava:1 %} <img src ="{{tm.players.all|key_ava:1}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

					{{tm.players.all|index:1}} </a></td>
					<td>{{ tm.games}}</td>
					<td>{{ tm.win}}</td>
					<td>{{ tm.loos}}</td>
					<td>{{ tm.goals_my}} / {{ tm.goals_me}}</td>
					<td>{{ tm.dif}}</td>
					<td>{{ tm.points}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% else%}
Таблица Play-off на странице раунда
		{% endif %}
		<div class="span11 teableHeader">
			Матчи раунда
		</div>
		<div class="span5">
			<table class="table table-condensed">
				<span class="label label-info" style="width: 100%;">Предстоящие: {{ round.match_set|set_in_status_length:1 }}</span>
				<thead>
					<tr>

						<th>Название</th>
						<th>Комманда А</th>
						<th>Комманда Б</th>

					</tr>
				</thead>
				{% for match in round.match_set|in_status:1%}
				<tr>
					<td>{{match.title}}</td>
					<td><a href="{% url 'tour:index_team' match.team_a.id %}">{{match.team_a.team_name}}</a></td>
					<td><a href="{% url 'tour:index_team' match.team_b.id %}">{{match.team_b.team_name}}</a></td>
				</tr>
				{% empty %}
				Матчей нет
				{% endfor %}
			</table>
		</div>

		<div class="span6">
			<table class="table table-condensed">
				<span class="label label-success" style="width: 100%;">Завершенные:  {{ round.match_set|set_in_status_length:2 }}</span>
				<thead>
					<tr>
						<th>Название</th>
						<th>Комманда А</th>
						<th>Комманда Б</th>
						<th>Счет</td>
					</tr>
				</thead>
				{% for match in round.match_set|in_status:2%}
				<tr>
					<td>{{match.title}}</td>
					<td><a href="{% url 'tour:index_team' match.team_a.id %}">{{match.team_a.team_name}}</a></td>
					<td><a href="{% url 'tour:index_team' match.team_b.id %}">{{match.team_b.team_name}}</a></td>
					<td>{{ match.score_a}} : {{ match.score_b}} </td>
				</tr>
				{% empty %}
				<tr>
					<td> Матчей нет </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	{% endfor %}

</div>


<div class="modal hide fade" id="reglment_modal" style="width:790px;left:40%">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Регламент</h3>
  </div>
  <div class="modal-body">
  	<p>    		
		<ul style="font-size: 14px;" id = "reglament">
			<li>
				Матч - одна игра, победителем которой является команда забившая первой 10 голов
			</li>
			<li>
				Первый этап проходит в виде группового соревнования. Каждая команда сыграет с каждым соперником по 2 матча.
			</li>
			<li>
				За победу в матче - 3 очка. Поражение - 0
			</li>
			<li>
				За неделю нужно сыграть с двумя соперниками. В противном случае будут назначатся технические поражения.
			</li>
			<li>
				По окончанию группового этапа у каждой команды будет сыгранно 18 игр. Первые 4 команды выходят в следуюющий раунд.
			</li>
			<li>
				В случае равенства набранных очков у перых комманд выше будет та команда, у которой будет лучше статистика забитых-пропущенных мячей.
			</li>
			<li>
				В случае равенства разницы забитых-пропущенных мячей (вероятность чего очень мала) будет назначена переигровка между этими командами.
			</li>
			<li>
				Команды не ограничены в выборе стратегий, и напарники могут меняться местами (атака/защита) как угодно и когда угодно.
			</li>
			<li>
				После первого матча команды меняются сторонами. Но по обоюдному согласию могут остаться на тех же сторонах.
			</li>
			<li>
				Во втором раунде между собой встречаются команды занявшие первое-четвертое место и второе-третье. Играют до 3 побед по партиям (максимум 5 матчей), и разница голов в данном случае не учитывается.
			</li>
			<li>
				В финале встречаются победители полуфиналов и играют до 5 побед по партиям.
			</li>
			<li style="color:red;">			
			В случае розыгрыша последней партии(5 для полу-финала и 9 для финала) сторону выбирает та команда, у которой лучшая разница голов в текущем противостоянии</li>
			<li style="color:red;">
			По желанию команд, проигравших в полуфинале, проводится матч за 3-тье место. Количество партий  в данном противостоянии определяют эти же команды.
			</li>
			<li style="color:red;">
			Сотрясение, сдвиг, поднятие стола, а также сильные удары штангами о борт и касание штанг против-ника, запрещены. В случае нарушения мяч вводится в игру противником с ближайшей к мячу линии.
			></li>
		</ul>
  </div>
</div>

<div class="modal hide fade" id="team_modal" style="width:790px;left:40%">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Команды</h3>
  </div>
  <div class="modal-body">
   <table class= "table" id = "team_table" >
   	<thead>
   		<th>Название</th>
   		<th>Участники</th>
   		<th></th>
   		   	</thead>
			{% for team in tour.teams.all %}
			<tr>
				<td><a href = "{% url 'tour:index_team' team.id %}">
					{% if team.avatar %}
						<img src="{{team.avatar}}" width="42" height="42" />
						{%else%}
						<img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" />
						{%endif%}
					{{team.team_name}}</a></td>
					<td>{% if team.players.all|key_ava:0 %} <img src ="{{team.players.all|key_ava:0}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}
						{{team.players.all|index:0}}</td>
					<td>{% if team.players.all|key_ava:1 %} <img src ="{{team.players.all|key_ava:1}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}
						{{team.players.all|index:1}}</td>
			</tr>
			{% endfor %}
		</table>	
  </div>
</div>


<div class="modal hide fade" id="top_modal" style="width:790px;left:40%">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Топ игроков</h3>
  </div>
  <div class="modal-body">
   <table class= "table" id = "team_table" >
   	<thead>
   		<th>#</th>
   		<th></th>
   </thead>
			{% for plr in top_list %}
			<tr>
			<td>{{forloop.counter}}</td>
				<td>{{plr}}</td>
				</tr>
			{% endfor %}
		</table>	
  </div>
</div>

{% endblock %}