{% extends "tournament/base.html" %}
{% load staticfiles %}

{% block title %}
Gollasso
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var AJAX_DELETE = "{% url 'tour:manage:delete' %}";
	var TEAM_ID = "{{team.id}}"; 
</script>
<script src="{% static 'tournament/js/lib/jquery.form.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexRoundApp.js' %}"></script>
<script src="{% static 'tournament/js/index/UserTeamFileUpload.js' %}"></script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
	<div class="span11 teableHeader">
		<div class="">
			{% if my_team %}
			Моя
			{% endif %}
			Команда

			{% if my_team %}
			<button class="btn pull-right" id = "editBTN">
				<i class="icon-wrench"></i>
				{% endif %}

			</button>
		</div>
	</div>
	<div class="span11" id = "show">
		<div class="span5">
			{% if team.avatar %}
			<img id = "team_avatar" src="{{team.avatar}}" width="64" align="left" style="margin-right: 15px;"/>
			{% else %}

			<img id = "team_avatar" src="http://badges.infoursquare.com/ipix/423_3.png" width="64" align="left" style="margin-right: 15px;"/>

			{% endif %}
			<p>
				Название: <b><span id="team_title">{{team.team_name}}</span></b>
			</p>
			<p>
				Активная:
				<span id = "active" >{{team.active}}</span>
			</p>
		</div>

		<div class="span5">
			<p>
				Всего голов забито: <b>{{goals}}</b>
			</p>
			<p>
				Активная:
				<span id = "active" >{{team.active}}</span>
			</p>
		</div>
	</div>
	{% if my_team %}
	<div class="span11" id="edit" hidden>
		<div class="span4">
			<p>
				Название: <b>
				<input id="teamTitle" type="text" value="{{team.team_name}}">
				</b>
			</p>
			<p>
				Активная:
				<select id ="activeSelect">
					<option value="1">Да</option>
					<option value="0">Нет</option>
				</select>
			</p>
			<div id="success_upload"  class="alert alert-success" hidden="hidden">
				Аватар успешно сохранен!
			</div>
		</div>
		<div class="span4">
			<p>
				Ссылка на аватарку (64*64):
				<input type="text" id = "avatar_link" value="{% if team.avatar%}{{team.avatar}}{%endif%}"/>

				<form id="file_form" action="{% url 'tour:save_file' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="file" name="myfile">
					<input type="hidden" value="{{team.id}}" name="team_id">
					<br>
					<input type="submit" value="Загрузить аватрку">
				</form>

			</p>
		</div>
		<button class="btn pull-right" id = "saveTeamBTN">
			<i class="icon-ok"></i>
		</button>
	</div>
	{% endif %}
</div>
<div class="row">
	<div style="margin:10px;"></div>
	<div class="span5 manage-table" id="tourTable">
		<div class="teableHeader">
			Игроки
		</div>
		<table class="table round-table">
			{% for plr in team.players.all %}
			<tr>
				<td><a href="{% url 'tour:profile' plr.user.id %}">
					
						{% if plr.avatar %} 
						<img src ="{{plr.avatar}}" width="42"> 
						{% else %} 
						<img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> 
						{%endif%}

					
					{{ plr }}</a></td>				
			</tr>
			{% endfor %}
		</table>

	</div>

	<div class="span5 manage-table" id="tourTable">
		{% if match_list %}
		<div class="teableHeader" style="cursor: pointer;" id = "showComming">
			Предстоящие матчи
		</div>

		<table class="table table-striped" id="commingList" hidden>
			<thead>
				<th> Team A</th>
				<th> Team B</th>
			</thead>
			{% for match in match_list %}
			<tr>
				<td><a href="{% url 'tour:index_team' match.team_a.id %}" title="{{match.team_a}}">{{match.team_a.team_name}}</a></td>
				<td><a href="{% url 'tour:index_team' match.team_b.id %}" title="{{match.team_b}}">{{match.team_b.team_name}}</a></td>
			</tr>
			{% endfor %}
		</table>

		{% endif %}
		{% if match_list_finished %}
		<div class="teableHeader" style="cursor: pointer; margin-top: 3px; " id = "showFinished">
			Завершенные матчи
		</div>

		<table class="table table-striped" id="finishedList" hidden>
			<thead>
				<th>Team A</th>
				<th></th>
				<th>Team B</th>
			</thead>
			{% for match in match_list_finished %}
			<tr>
				<td><a href="{% url 'tour:index_team' match.team_a.id %}" title="{{match.team_a}}">{{match.team_a.team_name}}</a></td>

				<td>{{match.score_a}}:{{match.score_b}} </td>

				<td><a href="{% url 'tour:index_team' match.team_b.id %}" title="{{match.team_b}}">{{match.team_b.team_name}}</a></td>

			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>

</div>
{% endblock %}