{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}
{% block title %}
Gollasso:: Tournament Manager
{% endblock %}

{% block user_script %}
<script type="text/javascript">
	var AJAX_SAVE = "{% url 'tour:manage:save' %}";
	var MATCH_ADDRES = "{% url 'tour:manage:match' %}";
	var AJAX_FILTER = "{% url 'tour:manage:filter' %}";
	var AJAX_MATCH_GEN = "{% url 'tour:manage:match_generator' %}";
	var AJAX_STANDINGS = "{% url 'tour:manage:standings' %}";
	var AJAX_GET_STANDINGS = "{% url 'tour:manage:get_standings' %}";
	var AJAX_GET_STANDINGS_INDEX = "{% url 'tour:manage:get_match_standings' %}";
	var ROUND_ID = "{{ round.id }}";
	var match_select = "<option>-----</option>";
	var USER_SIDE = true; 
</script>
<script src="{% static 'tournament/js/ManageApp.js' %}"></script>
<script src="{% static 'tournament/js/manage/ManageController.js' %}"></script>

<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
{% endblock %}
{% block content %}
{% if round %}
<div class="row">
	<div class="span11 teableHeader">
		<div class="">
			Раунд
		</div>
	</div>
	<div class="span11" id = "show">
		<div class="span4">
			<p>
				<b><span id="round_title">{{round.title}}</span></b>
			</p>
			<p>
				№:
				<span id = "round_serial">{{round.serial}}</span>
			</p>
		</div>
		<div class="span3">
			<p>
				Турнир:
				<a href="{% url 'tour:index_tour' round.tournament.id %}">{{round.tournament}}</a>
			</p>
			<p>
				Тип:
				<span id="round_type"> {% if round.round_type == 0 %}
					Регулярный
					{% endif %}

					{% if round.round_type == 1 %}
					Play-off
					{% endif %} </span>
			</p>
		</div>
		
	</div>

	

</div>
{% endif %}
<!-- STANDINGS -->
{% if round.round_type == 0 %}
<div class="teableHeader" style="margin-top:10px;margin-bottom:5px;">
	Standings
</div>
<table class="table table-striped resutls-table">
	<thead>
		<tr>
			<th>Место</th>
			<th>Команда</th>
			<th>Участники</th>
			<th></th>
			<th>Игр</th>
			<th>Побед</th>
			<th>Поражений</th>
			<th>Забитые/Пропущеные</th>
			<th>Разница голов</th>
			<th>Очки</th>
		</tr>
	</thead>
	{% for tm in round|round_table%}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href="{% url 'tour:index_team' tm.id %}">
						{% if tm.avatar %}
						<img src="{{tm.avatar}}" width="42" height="42" />
						{%else%}
						<img src="http://badges.infoursquare.com/ipix/423_3.png" width="42" height="42" />
						{%endif%}
						{{ tm.team_name }}
						</a></td>
		<td><a href="{% url 'tour:profile' tm.players.all|player_user_id:0 %}"> {% if tm.players.all|key_ava:0 %} <img src ="{{tm.players.all|key_ava:0}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

		{{tm.players.all|index:0}} </a></td><td><a href="{% url 'tour:profile' tm.players.all|player_user_id:1 %}"> {% if tm.players.all|key_ava:1 %} <img src ="{{tm.players.all|key_ava:1}}" width="42"> {% else %} <img src ="{% static 'tournament/img/camera_a.gif' %}" width="42"> {%endif%}

		{{tm.players.all|index:1}} </a></td>
		<td>{{ tm.games}}</td>
		<td>{{ tm.win}}</td>
		<td>{{ tm.loos}}</td>
		<td>{{ tm.goals_my}} / {{ tm.goals_me}}</td>
		<td>{{ tm.dif}}</td>
		<td>{{ tm.points}}</td>
	</tr>
	{% endfor %}
</table>

{% else%}

<!-- PLAYFOFF Final -->
{%if match_list|playoff_filter:1%}
<DIV class="span10">
<div class="teableHeader">Финал</div>
	{%for match_block in match_list|playoff_table_filter:1%}
<div class="span5">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of final -->



<!-- PLAYFOFF 3th -->
{%if match_list|playoff_filter:3%}
<DIV class="span10">
<div class="teableHeader">3-е место</div>
	{%for match_block in match_list|playoff_table_filter:3%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 3d -->


<!-- PLAYFOFF 1/2 -->
{%if match_list|playoff_filter:2%}
<DIV class="span10">
<div class="teableHeader">1/2:</div>
	{%for match_block in match_list|playoff_table_filter:2%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/2 -->



<!-- PLAYFOFF 1/4 -->
{%if match_list|playoff_filter:4%}
<DIV class="span10">
<div class="teableHeader">1/4:</div>
	{%for match_block in match_list|playoff_table_filter:4%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/4 -->

<!-- PLAYFOFF 1/8 -->
{%if match_list|playoff_filter:8%}
<DIV class="span10">
<div class="teableHeader">1/8:</div>
	{%for match_block in match_list|playoff_table_filter:8%}
<div class="span3">
	<div class="match-box">
		<table class="table">
			<thead>
				<th>Команды</th>
				{%for match in match_block%}
				<th>{{forloop.counter}}</th> {%endfor%}
			</thead>
			<tbody>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_a.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_a.id == match.team_a.id %} {{match.score_a}} {% else %} {{match.score_b}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
				<tr>
					{% for match_b in match_block|match_index %}
					<td>
						{{match_b.team_b.team_name}}
					</td>{%for match in match_block%}
					<td>{% if match_b.team_b.id == match.team_b.id %} {{match.score_b}} {% else %} {{match.score_a}} {% endif%} </td>{%endfor%}					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{%endfor%}
</DIV>
{% endif%}
<!-- End of 1/8 -->


{% endif %}
<div class="row">

	<div style="margin:20px;"></div>
	<div class="span11 " id="tourTable">
		<div class="teableHeader">
			Матчи
			<select class="pull-right" id="match_filter">
				<option value = "-1">Все</option>
				<option value="0">Отмененный</option>
				<option value="1">Предстоящий</option>
				<option value="2">Завершенный</option>
			</select>

			<select class="pull-right" width="200" style="width: 200px" id = "filterRoundByPlayer">
				<option value = "-1"> Фильтр по участнику</option>
				{% for player in player_list %}
				<option value='{{player.id}}'> {{player}} </option>
				{% endfor %}
			</select>

			<select class="pull-right" width="200" style="width: 200px" id="filterRoundByTeam">
				<option value = "-1"> Фильтр по команде</option>
				{% for team in team_list %}
				<!-- <option value='{{team.id}}'> {{team}} </option> -->
				<option value='{{team.id}}'> {{team.team_name}} ({{team.players.all|index:1}} - {{team.players.all|index:0}}) </option>
				{% endfor %}
			</select>

		</div>
		{% if match_list %}
		<table class="table table-condensed  table-striped" >
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Team A</th>
					<th></th>
					<th>Team B</th>
					<th>Status</th>

				</tr>
			</thead>
			<tbody id = "match_list">
				{% for match in match_list %}
				<script type="text/javascript">
					match_select += "<option value={{match.id}}>#{{match.id}} {{match.team_a.team_name}} vs {{match.team_b.team_name}}</option>";
				</script>

				<tr class="match-select" match_id = "{{ match.id}}">
					<td>{{match.id}}</td>
					<td> {% if match.title %} {{match.title}} {% else %} {{ match.team_a }} - {{ match.team_b }} {% endif%}</td>
					<td><a href='{% url "tour:index_team" match.team_a.id %}'>{{match.team_a.team_name}}</a></td>
					<td> {% if match.status == 2 %}
					{{ match.score_a }} :
					{{ match.score_b }}
					{% endif%}
 					</td>
					<td><a href='{% url "tour:index_team" match.team_b.id %}'>{{match.team_b.team_name}}</a></td>

					<td> {% if match.status == 0 %} <label class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> {% endif %}

					{% if match.status == 1 %} <label class="label label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> {% endif %}

					{% if match.status == 2 %} <label  class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>

					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pull-right">
			<label class="label">отменен</label>
			<label class="label label-info">предстоящий</label>
			<label  class="label label-success">завершенный</label>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}