{% extends "tournament/base.html" %}
{% load staticfiles %}
{% load tournament_extra %}
{% block title %}
	Gollasso:: Tournament Manager
{% endblock %}

{% block user_script %}
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'tournament/js/IndexApp.js' %}"></script>
<script src="{% static 'tournament/js/index/IndexController.js' %}"></script>
<script>
var AJAX_SAVE_VOTE = "{% url 'tour:save_vote' tour.id %}";
var USER_ID = "{{ user.id }}";
$(document).ready(function(){
	$( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
});
	
</script>
{% endblock %}
{% block content %}
<div class="row">
	<div class="teableHeader">
			Расположите игроков в соответсвие с их навыком игры, лучший вверху. Проголосовать можно только один раз.
		</div>
	<div class="span6">
		<div>
			<br>
		</div>		
		
		<ul id="sortable">
		{% for player in list %}
		 <li class='ui-state-default' player_id = "{{player.id}}">
		 	{% if player.avatar %}
		 	<img src="{{player.avatar}}" width="30" align="left" style="margin-right:5px;" />
		 	{% endif %}
		 	<a href = "{% url 'tour:profile' player.user.id %}" target="_blank">{{player}}</a>
		 </li>
		{% endfor%}
		</ul>
		<div class="pull-right">
		<button class="btn btn-success" id = "sendVote">
			<div id="loading" hidden>
				&nbsp;&nbsp;&nbsp;&nbsp; <img id="loading" class="loadingImage" src = "{% static 'tournament/img/loading.GIF' %}"> &nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div id="notLoading" >
			&nbsp;&nbsp;&nbsp;&nbsp; Готово &nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			</button>
		</div>		
	</div>
</div>	
{% endblock %}